<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            font-family: Helvetica, Arial, sans-serif;
            color: #353740;
        }

        body {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>

        <div style="max-width: 500px;">
            <h1>Verify your email address</h1>
            <p>To continue to use JobFinder account, please verify that this is your email by enter this key</p>
            <p style="background-color: #f2f6fc; display: inline-block; padding: 10px 20px;">%s</p>
            <p style="color: #6e6e80; font-size: 13px;">This key will expire in 2 minutes. If you did not make this request, please disregard this email.</p>
        </div>

</body>
</html>